<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.shifan.mapper.StudentMapper">
    <!-- 新增学生信息到数据库中 -->
    <insert id="add" parameterType="edu.shifan.pojo.Student">
        insert into sys_students
            values(default,#{stuName},#{gender},#{age},#{tel},#{address},#{gradeId},1)
    </insert>

    <update id="update" parameterType="edu.shifan.pojo.Student">
        update sys_students
            set stu_name=#{stuName},gender=#{gender},age=#{age},tel=#{tel},address=#{address},grade_id=#{gradeId}
        where stu_no=#{stuNo}
    </update>

    <!-- 查询所有学生信息 -->
    <select id="findAll" resultType="edu.shifan.pojo.Student">
        select * from sys_students
    </select>

    <select id="findById" resultType="edu.shifan.pojo.Student" parameterType="int">
        SELECT * FROM sys_students where stu_no=#{id}
    </select>


</mapper>